
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #272D33;
    color: white;
    text-align:center;
    white-space: nowrap;
    padding: 15px;
}


nav{
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    

}
img{
    width: 100%;
    margin: 10PX;
    
    
}


.shirts {
    margin: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
    border: solid 1px grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1.15;
    
}

.shirts_container{
   display: flex;
   
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   width: 1000px;
   margin-right: 200px;
}

#first_image{
    display: flex;
    justify-content: flex-end;
    width: 200px;
    margin-top: -40px;
    margin-bottom: 77px;
}

.nav-margin{
    margin-top: -200px;
}